.new-project__button {
    width: 50%;
    margin: 20px auto;
    background-color: #FBA5A3;
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    min-height: fit-content;
    padding: 10px;
    cursor: pointer;
}