.new-project__button {
    width: 50%;
    margin: 20px auto;
    background-color: $background_main;
    border: none;
    @include shadows;
    border-radius: 8px;
    font-size: 1.2em;
    color: white;
    min-height: fit-content;
    padding: 10px;
    cursor: pointer;
    transform: scale(1);
    transition: all 350ms ease-in-out;

    &:hover{
        transform: scale(1.2);
        
    }
}