@font-face {
    font-family: 'Permanent Marker', cursive;
    @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
    ;
}

body {
    font-size: 1.2em;
    color: $text-color;
}

h1 {
    @include headings ($big_title);
    color: $background_cards;
    border-radius: 8px;
    border: none;
    text-shadow: 4px 4px $text-color;
    background-image: url(../images/banner_crepis.jpg);
}

h2 {
    @include headings ($medium_title);
    border-radius: 8px;
    color: $background_cards;
    text-shadow: 4px 4px $shadow;
    border: none;

}

h3 {
    @include headings ($small_title);
    text-shadow: 3px 3px $background_main;
}