body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 3em;
    background-color: $background_main;
}

.projects {
    width: 80%;
    margin: auto;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    border: 2px solid $border;
    @include shadows;
    border-radius: 10px;
    background-color: $background_cards;
    margin-top: 20px;
    margin-bottom: 3%;
    cursor: pointer;
    transform: scale(1);
    transition: all 350ms ease-in-out;

    &:hover {
        transform: scale(1.2);

    }
}

.card__img {
    width: 70%;
    height: 50%;
}

.card__text {
    text-align: center;
}

.new-project {
    margin: 100px auto 0px auto;
    width: 50%;
    background-color: $background_forms;
    border-radius: 10px;
    padding: 20px 50px 50px 50px;
}