$big_title: 6em;
$medium_title: 2em;
$small_title: 1.7em;



$background_main : rgba(56, 192, 176, 0.5);
$background_forms : rgb(233, 196, 106);
$background_cards : rgb(255, 255, 255);
$border : rgb(231, 111, 81);
$shadow : rgb(244, 162, 97);
$text-color : rgb(38, 70, 83);



$invalid : rgb(255, 8, 74);
$shake-intensity: 1%;